body{
    background: green;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment{
    display:flex;
    padding: 10px;
}

.assignment img{
    width: 200px;
    padding: 10px;
    margin: 10px;
    background: red;
    border: white;
}
hl{
    color: black;
    text-align: center;
}

a {
    text-decoration: none;
}